#board {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 5px solid #333;
}

.square {
    /* for making labels not interact with images */
    position: relative;

    /* center image */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
}

.light {
    background-color: #f0d9b5; 
}

.dark {
    background-color: #b58863;
}

.coord-label {
    /* put label in bottom right */
    position: absolute;
    left: 30px;
    top: 16px;

    color: #036b87; 
    font-size: 15px;
    text-transform: uppercase;
    opacity: 0.6;
}

.piece-image {
    width: 100%;
    height: 100%;
}

.piece-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.move-button {
    border: none;
    background: none;
    cursor: pointer;
}

/* little circle */
.move-indicator {
    position: absolute;
    width: 30%;
    height: 30%;
    
    border-radius: 50%;

    background-color: #ef4444;
}

/* box */
.capture-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid #ef4444;
}