body {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#game-container {
    user-select: none;
    margin: 5px;
}

#rules {
    margin: 5px;
}

h1 {
    margin-top: 20px;
    font-size: 20px;
}

h2 {
    font-size: 17px;
}

p {
    font-size: 15px;
}

#board {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 5px solid #333;
}

#black-bag, #white-bag {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 75px;
    border: 5px solid #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

.green-background {
    background-color: #a0f7ac;
}

.used-piece {
    opacity: 0.5;
}

.bag-image {
    width: 50px;
    height: 50px;
}

.square {
    /* for making labels not interact with images */
    position: relative;

    /* center image */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
}

.light {
    background-color: #f0d9b5; 
}

.dark {
    background-color: #b58863;
}

.coord-label {
    /* put label in bottom right */
    position: absolute;
    left: 30px;
    top: 16px;

    color: #036b87; 
    font-size: 15px;
    text-transform: uppercase;
    opacity: 0.6;

    /* want the square to always be the one handling the click */
    pointer-events: none;
}

/* if they are not the full square size, user can click behind them on elements I don't expect to be */
.piece-image {
    width: 100%;
    height: 100%;
    /* extremely necessary; otherwise it is in-line block. Then the browser adds 3.5px of height as baseline text 
    below the image, causing the parent .piece-button to be 53.5px high instead of 50px, and it also shifts the image
    up, which makes a gap below, allowing the user to click the button behind the image (this causes errors). */
    display: block;
}

.piece-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.move-button {
    border: none;
    background: none;
    cursor: pointer;
}

/* little circle */
.move-indicator {
    position: absolute;
    width: 30%;
    height: 30%;
    
    border-radius: 50%;

    background-color: #15aafa;
}

/* box */
.capture-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid #15aafa;
}

.check-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid #ef4444; /* yellow */
    /* not sure why this indicator specifically needs it. must be something with how the parent-child tree looks */
    box-sizing: border-box; 
}